
:root {
  --orig-width: 1280px;
  --orig-height: 1440px;

  --video-height: 28rem;
}

transform-video {
  display: inline-block;
  margin-right: 1rem;
  /* border: 1px solid silver;
  margin: 1rem 0;
  padding: 1rem; */

  &::part(canvas) {
    background: #eee;
    border: 2px solid #aaa;
    border-radius: .3rem;
    margin: 1rem 0;

    X_width: 313px;
    X_height: 352px;
    max-height: var(--video-height);
  }

  &::part(splitCanvas) {
    display: inline-block;
    height: calc(var(--video-height) / 2);
  }

  &[ split ]::before {
    content: attr(split);
    display: block;

  }

  /* &::part(original) {
    display: none;
  } */
}

/* 313 x 352 px */
video {
  max-height: var(--video-height);
}

button,
summary {
  font-size: larger;
  padding: .4rem 1rem;
}

summary {
  border: 1px solid #aaa;
  padding: .5rem .25rem;
}

.para,
p {
  margin: 1.5rem 0;
}

body {
  margin: auto;
  max-width: 59rem;
  padding: 0 1rem;
}

* {
  outline-offset: .25rem;
  text-underline-offset: .15rem;
}
